.vagrant
.vagrant/
.vagrant\
*.cvs
Static_project\KKIDB_exports\*
Static_project\KKIDB_exports\
Static_project/KKIDB_exports/*
Static_project/KKIDB_exports/

Static_Project/catdb/migrations/
Static_Project/catdb/migrations
ignore/
ignore\
ignore

*.pyc