<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>
        test
    </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <p id="showID" style="display:none;">{{show.id}}</p>
    <table style="width:100%">
        <tr>
            <th>Show</th>
            <th>Entry Number</th>
            <th>Judge</th>
            <th>Attended</th>
            <th>Excellent</th>
            <th>Certificate</th>
            <th>BIV</th>
            <th>NOM</th>
            <th>EMS</th>
        </tr>
        <tr>
            <th> {{show.name}}</th>
            <th> {{Judgement.entryId.cat_show_number}}</th>
            <th>{{Judgement.judge.name}}</th>
            <th>{{Judgement.attendence}}</th>
            <th>{{Judgement.ex}}</th>
            <th>{{Judgement.cert}}</th>
            <th>{{Judgement.biv}}</th>
            <th>{{Judgement.nom}}</th>
            <th>{{Judgement.color.ems.breed}} {{Judgement.color.ems.ems}}</th>
        </tr>
    </table>
    <p id="judgementId" style="display:none;">{{Judgement.id}}</p>

    <div id="message"></div>
    <div id="catList">lol</div>
    <form id="editJudgement" action="POST">
        <h2>Enter Show Judgement</h2>
        {% for field in judgementEditForm %}
        <p>{{field.label_tag}}</p>{{field}}<br />
        {% endfor %}
        {% csrf_token %}
        <input type="submit"></input>col
    </form>

</body>
</html>

<script type="text/javascript">
    $(document).ready(function () {
        window.Siteshow = $("#showID").text();
        window.Sitejudgement = $("#judgementId").text();
        $("#id_entryCatId")[0].disabled = true;
        getEntryInfo($("#id_entryCatId").val(), false);
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        
        function getEntryInfo(ID,color) {
            D = { 'entry': ID, 'show': Siteshow }
            $.ajax({
                type: "GET",
                url: "../../api/shows/getEntryInfo",
                dataType: 'json',
                data: D,
                success: function (d) {
                    if (d.success) {
                        if (!color) {
                            $("#id_entryCatName").val(d['name']);
                            $("#id_color").val(d['emd']);
                            $("#id_neutered")[0].checked = d['neutered'];
                            $("#id_current_point").val(d['neutered'] ? d['Ncert'] : d['cert']);
                            $("#id_next_point").val(d['nextCert']);
                            $("#id_color").val(d['ems']);
                            $("#id_CatId").val(d['Id']); id_color
                        }
                        else {
                            $("#id_colEntryCatName").val(d['name']);
                            $("#id_colColor").val(d['ems']);
                            $("#id_colNeutered")[0].checked = d['neutered'];
                            $("#id_colCatId").val(d['Id']);
                        }
                    }
                    else {
                        $('#message').html("<h2> error " + d.error + " occurred</h2>")
                    }

                }
            });
        }
    })
</script>

<script>
//Submit scripts
    $("#editJudgement").submit(function (event) {
        event.preventDefault();

        var form = $("#editJudgement")[0];
        var D = {};
        var inputs = form.getElementsByTagName('input');
        for (var i = 0; i < inputs.length; i++) {
            D[inputs[i].name] = inputs[i].value;
            if (D[inputs[i].name] == "on") {
                D[inputs[i].name] = inputs[i].checked;
            }
        }
        var inputs = form.getElementsByTagName('select');
        for (var i = 0; i < inputs.length; i++) {
            D[inputs[i].name] = inputs[i].value;
        }
        D['show'] = window.Siteshow;
        D['judgement'] = window.Sitejudgement;
        if (window.Siteshow == "") {
            return;
        }
        if (window.Sitejudgement == "") {
            return;
        }
        $.ajax({
            type: "POST",
            url: "../../api/shows/editJudgement",
            dataType: 'json',
            data: D,
            success: function (d) {
                if (d.success) {

                    $('#message').html(d['newTitle'] ? "<h2> Judgement entered for " + $("#id_entryCatId").val() +". NEW TITLE: " + d['newTitleName'] + " </h2>" : "<h2> Judgement entered for cat " + $("#id_entryCatId").val() + " </h2>")
                    if (d['newTitle']) {
                        alert("New title! " + d['newTitleName']);
                    }
                }
                else {
                    $('#message').html("<h2> error " + d.error + " occurred</h2>")
                }

            }
        });
        return false;
    });

</script>