{% extends 'kkidb/shared/master.html' %}

{%block title%}
Edit Judgement
{% endblock%}

{%block navigation%}

<li><a href="{% url 'view_ShowSetup'%}?show={{showId}}">Setup Show</a></li>
<li><a href="{% url 'view_ShowManage'%}?show={{showId}}">Add judgements</a></li>
<li><a href="{% url 'view_ShowJudgements'%}?show={{showId}}">Edit Judgements</a></li>
<li><a href="{% url 'view_ShowNominations'%}?show={{showId}}">Get Nominations</a></li>
<li><a href="{% url 'view_ShowViewEntries'%}?show={{show.id}}">Get All Entries</a></li>
s
{% endblock %}

{%block content%}

    <table style="width:100%">
        <tr>
            <th>Judge</th>
            <th>Entry Number</th>
            <th>Attended</th>
            <th>Excellent</th>
            <th>Certificate</th>
            <th>BIV</th>
            <th>NOM</th>
            <th>EMS</th>
        </tr>
        {% for j in Judgements %}
        <tr>
            <th>{{j.judge.name}}</th>
            <th> {{j.entryId.cat_show_number}}</th>
            <th>{{j.attendence}}</th>
            <th>{{j.ex}}</th>
            <th>{{j.cert}}</th>
            <th>{{j.biv}}</th>
            <th>{{j.nom}}</th>
            <th>{{j.color.ems.breed}} {{j.color.ems.ems}}</th>
            <th><a href="{%url 'view_EditJudgements'%}?id={{j.id}} ">Edit this entry</a></th>
        </tr>
        {% endfor %}
    </table>

{% endblock %}