<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>
        test
    </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    
   <h2>Create New Show</h2> 
<form id="addButton" action="POST">
    <p>{{nom}}</p>
    {% for field in form %}
    <p>{{field.label_tag}}</p>{{field}}<br/>
    {% endfor %}
    {% csrf_token %}
<input type="submit" ></input>
</form>
    <div id="message"></div>
</body>
</html>
<script type="text/javascript">

    $(document).ready(function () {
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        $("#addButton").submit(function (event) {
            event.preventDefault();

            var form = document.forms[0];
            var D = {};
            var inputs = form.getElementsByTagName('input');
            for (var i = 0; i < inputs.length; i++) {
                D[inputs[i].name] = inputs[i].value;
            }
            var inputs = form.getElementsByTagName('select');
            for (var i = 0; i < inputs.length; i++) {
                D[inputs[i].name] = inputs[i].value;
            }
            $.ajax({
                type: "POST",
                url: "../../api/create_show/",
                dataType: 'json',
                data: D,
                success: function (d) {
                    if (d.success) {
                        $('#message').html("<h2> IT WORKED. New show at " + d.id + " </h2>")
                    }
                    else {
                        $('#message').html("<h2> error " + d.error + " occurred</h2>")
                    }

                }
            });
            return false;
        });
    })
</script>