<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>
        test
    </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    
   <h2>Add cat</h2> 
<form id="addButton" action="POST">
    <p>{{nom}}</p>
    {% for field in form %}
    <p>{{field.label_tag}}</p>{{field}}<br/>
    {% endfor %}
    {% csrf_token %}
<input type="submit" >TROLOLOL</input>
</form>
    <div id="message"></div>
</body>
</html>
<script type="text/javascript">
    FORM = {
        nameList: [],
        update_message: function (arr) {
            mess = "found " + arr.length + " cats: <ul>";
            for (var i = 0; i < arr.length; i++) {
                mess += "<li>" + arr[i].name + " : " + arr[i].id + " </li>";
            }
            mess += "</ul>"
            $('#message').html("<h2> kitties: " + mess + " </h2>")
        }
    };
    $(document).ready(function () {
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        $("#addButton").submit(function (event) {
            event.preventDefault();
            var form = document.forms[0];
            var D = {};
            var inputs = form.getElementsByTagName('input');
            for (var i = 0; i < inputs.length; i++) {
                D[inputs[i].name] = inputs[i].value;
            }
            var inputs = form.getElementsByTagName('select');
            for (var i = 0; i < inputs.length; i++) {
                D[inputs[i].name] = inputs[i].value;
            }
            if (checkform(form)) {
                $.ajax({
                    type: "POST",
                    url: "../form_cat/",
                    dataType: 'json',
                    data: D,
                    success: function (d) {
                        if (d.success) {
                            $('#message').html("<h2> IT WORKED. New cat at " + d.id + " </h2>")
                        }
                        else {
                            $('#message').html("<h2> error " + d.error + " occurred</h2>")
                        }

                    }
                });
            }
            return false;
       });
        $("input[name = 'sire']").on('input', function () {
            var val = $("input[name = 'sire']").val();
            if (val.length == 3) {
                getCatNames(val);
            }
            else {
                if (val.length > 3) {
                    var foundName = []
                    for (var i = 0; i < FORM.nameList.length; i++) {
                        if (FORM.nameList[i].name.indexOf(val) != -1) {
                            foundName.push(FORM.nameList[i]);
                        }
                    }
                    FORM.update_message(foundName);
                }
            }
        });

    });

    function checkform(form) {
        // get all the inputs within the submitted form
        var inputs = form.getElementsByTagName('input');
        for (var i = 0; i < inputs.length; i++) {
            // only validate the inputs that have the required attribute
            if (inputs[i].hasAttribute("required")) {
                if (inputs[i].value == "") {
                    // found an empty field that is required
                    alert("Please fill all required fields");
                    return false;
                }
            }
        }
        return true;
    }
    function getCatNames(name) { 
        D = {'name':name}
        $.ajax({
        type: "GET",
        url: "../find_cat_name/",
        dataType: 'json',
        data: D,
        success: function (d) {

            if (d.success) {
                FORM.nameList = d.cats;
                FORM.update_message(FORM.nameList);
            }
            else {
                $('#message').html("<h2> error " + d.error + " occurred</h2>")
            }

        }
    });
    }

</script>