{% extends 'kkidb/shared/master.html' %}

{% block content %}
<h1>Master directory list.</h1>
<h2>Cat pages</h2>
<ul>
    <li><a href="{% url 'addcat'%}">Create Cat</a></li>
    <li><a href="{% url 'catview'%}">View Cat (needs arguments)</a></li>
    <li><a href="{% url 'search'%}">Search Cat</a></li>
    <li><a href="{% url 'findcat'%}">Find Cat (needs arguments)</a></li>
    <li><a href="{% url 'editCat'%}">Edit Cat (needs arguments)</a></li>
</ul>

<h2>Person pages</h2>
<ul>
    <li><a href="{% url 'addPerson'%}">Register Person</a></li>
</ul>

<h2>Catteries</h2>
<ul>
    <li><a href="{% url 'addCattery'%}">Register New Cattery</a></li>
</ul>

<h2>Shows</h2>
<ul><li><a href="{% url 'findshow'%}">Find all shows</a></li>
    <li><a href="{% url 'addshow'%}">Register New Show</a></li>
    <li><a href="{% url 'view_ShowSetup'%}">Set up registered show*</a></li>
    <li><a href="{% url 'view_ShowManage'%}">Manage show*</a></li>
    <li><a href="{% url 'view_DeleteJudgements'%}">Delete Judgement*</a></li>
    <li><a href="{% url 'view_EditJudgements'%}">Edit Judgement*</a></li>
    <li><a href="{% url 'view_ShowJudgements'%}">View Judgement*</a></li>
    <li><a href="{% url 'view_ShowNominations'%}">Get Nominations*</a></li>
    <li><a href="{% url 'view_ShowViewEntries'%}">View the entries*</a></li>
</ul>

{% endblock %}